.rbc-month-view {
    height: 500px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important; 
}

.rbc-time-view {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important; 
}

.rbc-agenda-view {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important; 
}

.rbc-event {
    background-color: #FF6347;
    max-width: 300px;
}
.rbc-timeslot-group {
    height: 100px;
}
.rbc-event.rbc-selected {
    background-color: #ffbf47;
}
.rbc-event {
    z-index: 999 !important;
}
.rbc-addons-dnd-drag-preview {
    opacity: 0.5;
}
.rbc-day-slot .rbc-event--lunch {
    background-color: #6ebe4a;
}
.rbc-today {
    background-color: #fff4e1;
}
.rbc-current-time-indicator {
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    height: 3px;
    background-color: red;
    pointer-events: none;
}